:root{
    --size: 20px;
}
button{
    border: none;
    background-color: transparent;
}
.container{
    display: flex;
    margin: calc(var(--size)*2);
}
.contents{
    justify-content: center;
    align-items: center;
    display: flex;
}
.contents-left{
    text-align: center;
    border: 2px solid blanchedalmond;
    border-radius: var(--size);
    padding: var(--size);
}
.image{
    width: 400px;
}
.image img{
    align-items: center;
    width: 100%;
}
.description{
    width: 40%;
    margin-left: var(--size);
}
.description p{
    line-height: 2.2;
}
.intro{
    display: flex;
    align-items: center;
}
.left{
    margin: 0 0 0 auto;
    padding-right: calc(var(--size) * 2);
}
.changeCatBtn{
    background-color: blanchedalmond;
    border-radius: var(--size);
    margin-top: var(--size);
    padding: calc(var(--size) / 2) var(--size);
    font-weight: 600;
}
.changeCatBtn:hover{
    scale: (1.1);
    box-shadow: 1px 1px 1px rgb(255, 153, 0);
    cursor: pointer;
}